.big-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-container p{
    font-size:25px;
    width:15%;
    margin-left:130px;

}
.partners-container{
    display: flex;
    flex-wrap: wrap;
    width:50vw;
    margin-left: 50px;
}
.partners-container svg{
    margin-left:15px;
    margin-top:15px;
}
.partners-container svg:hover{
    fill: green;
    cursor: pointer;
}

