.third-main-part-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.third-main-part-container h2{
      color:#00b39b;
      margin-bottom:20px;
      width:350px;
      text-align: center;
}
.third-main-part-container p{
      width:500px;
      text-align:center;

}